%TTNorms-Medium-400 {
  font-family: "TTNorms-Medium", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%TTNorms-Bold-700 {
  font-family: "TTNorms-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%Yeseva-One-400 {
  font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  font-style: normal;
}